<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>大前端-内容页</title>
<link rel="stylesheet" href="__TEMPLATE__css/style.css" />
<link rel="stylesheet" href="__TEMPLATE__/css/page.css" />
<script type="text/javascript" src="__TEMPLATE__/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="__TEMPLATE__/js/js.js"></script>
</head>

<body>
	<!-- 顶部100%灰色区域 -->
	<div id="top_dark_box">
        <!-- 中间1200px宽度区域 -->
        <div id="top_dark">
            <img src="__TEMPLATE__/images/others/logo.png" id="logo"/>
            <!-- 导航菜单 -->
            <ul id="menu">
                <li>
                    <a href="__ROOT__" class="cur">首页</a>
                </li>
                <li>
                    <channel type='self' cid="1">
                        <a href="{$field.url}">{$field.catname}</a>
                    </channel>
                    <ul class="second">
                        <channel type='son' cid="1" row='10'>
                            <li><a href="{$field.url}">{$field.catname}</a></li>
                        </channel>
                    </ul>
                </li>
            </ul>
            <!-- 导航菜单结束 -->
            <!-- 用户登录 -->
            <a href="__WEB__?a=Member&c=Login&m=login" class="top_login">用户登录</a>

        </div>
        <!-- 中间1200px宽度区域结束 -->
	</div>
	<!-- 顶部灰色100%区域结束 -->

	<!-- 顶部最新消息区域 -->
	<div id="latest_news_box">
        <div id="latest_news">
            <p><span class="title">最新消息：</span>
                <arclist row="1" cid="4">{$field.title}</arclist>
            </p>
        </div>
	</div>
	<!-- 顶部最新消息区域结束 -->

	<!-- 主体区域 -->
	<div id="page_main">

		<!-- 右侧 -->
		<div class="right">
			<p class="title">最新发布</p>
			<div class="right_list">
				<ul>
                    <arclist row="8" cid="2,3,4,5" flag="4">
                        <li>
                            <div class="pic">
                                <a href="{$field.url}"><img src="{$field.thumb}" width="140" height="98" alt=""/></a>
                            </div>
                            <a href="{$field.url}">{$field.title|mb_substr:0,12,"utf-8"}</a>
                        </li>
                    </arclist>
				</ul>
			</div>
		</div>
		<!-- 右侧结束 -->

		<!-- 左侧 -->
		<div class="left">
			<h1><a href="">{$hdcms.title}</a></h1>
			<!-- 文章信息 -->
			<div class="article_info_box">
                <p class="article_info">
                    <span class="padding_right">{$hdcms.addtime|date:'Y-m-d',@@}</span>
                    分类：<a href="{$hdcms.caturl}" class="padding_right">{$hdcms.catname}</a>
                    <a href="" class="padding_right comment">13人评论</a>
                    <script src="__CONTROL__&m=get_click&cid={$hd.get.cid}&aid={$hd.get.aid}"></script>次浏览
                </p>
			</div>
			<!-- 文章信息结束 -->

			<!-- 文章内容区域 -->
			<div class="article_content">
                <p>{$hdcms.content}</p>
			</div>



			<!-- 作者区域 -->
			<div class="author_info">
				<img src="__TEMPLATE__/images/others/zuozhe.png" alt="" />
				<p class="author_name">本文作者：{$hdcms.username}</p>
				<p class="description">{$hd.config.webname}</p>
			</div>
			<!-- 作者区域结束 -->
			<!-- 发表我的评论 -->
            <!-- 评论 -->
            <script src="__WEB__?a=Comment&c=Comment&m=index&cid={$hd.get.cid}&aid={$hd.get.aid}" type="text/javascript"></script>
            <!-- 评论 -->
			<!-- 发表我的评论结束 -->

		</div>
		<!-- 左侧结束 -->

		
	</div>
	<!-- 主体区域结束 -->
    <!-- 底部浅灰色导航区域结束 -->

    <!-- 底部版权区域 -->
    <div id="bottom_copyright_box">
        <div class="bottom_copyright">
            版权所有，保留一切权利！ © 2013 <a href="__ROOT__">{$hd.config.webname}</a>　
        </div>
    </div>
    <!-- 底部版权区域结束 -->
</body>
</html>