<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>{$hd.config.webname}</title>
    <link rel="stylesheet" href="__TEMPLATE__/css/article_list.css"/>
</head>
<body>
<!-- 最顶部灰色条开始 -->
<div class="head_top">
    <div class="head_top_box">
        <!-- 左边盒子 -->
        <div class="head_top_l">
				<span class="top_login">
				{$hd.config.webname}

				</span>
        </div>

        <!-- 右边盒子结束 -->
    </div>
</div>
<!-- 最顶部灰色条结束 -->
<!-- 头部开始 -->
<div class="head">
    <a href="" class="logo"><img src="__TEMPLATE__/images/logo.gif" alt=""/></a>
    <a href="" class="logo2"><img src="__TEMPLATE__/images/1328856915439.gif" alt=""/></a>
</div>
<!-- 头部结束 -->
<!-- 导航栏开始 -->
<div class="nav_list">
    <a href="__ROOT__" class="two"><span>首  页</span></a>
    <channel class="blue" row="8">
        <a href="{$field.url}" class="{$field.class}"><span>{$field.catname}</span></a>
    </channel>

    <!-- 右边分享盒子开始 -->
    <div class="share">
        <!-- JiaThis Button BEGIN -->

        <!-- JiaThis Button END -->
    </div>
    <!-- 右边分享盒子结束 -->
</div>
<!-- 导航栏结束 -->
<!-- 搜索区域大盒子开始 -->
<div class="search_box">
    <!-- 搜索大盒子左边开始 -->
    <div class="s_left">
        <!-- 搜索框盒子 -->
        <div class="keybox">
            <p class="serch_pic"></p>
            <input type="text" value="1212" maxlength="16"/>
        </div>
        <!-- 搜索框盒子 -->
        <!-- 按钮开始 -->
        <div class="btn">
            <input type="submit" value="搜索"/>
        </div>
        <!-- 按钮结束 -->

        <!-- 搜索框右侧搜索链接结束 -->
        <!-- 热门关键字开始 -->
        <div class="hotkey">

            热门关键字：<a href="">PHP</a>
            <a href="">PHP程序员</a>
            <a href="">PHP工程师</a>
            <a href="">PHP招聘</a>
            <a href="">网页设计</a>
            <a href="">PHP网站开发</a>
            <a href="">程序员招聘</a>
            <a href="">ASP程序员</a>
            <a href="">UI设计</a>
            <a href="">网页制作</a>
            <a href="">网站美工</a>
        </div>
        <!-- 热门关键字结束 -->
    </div>
    <!-- 搜索大盒子左边结束 -->
    <!-- 搜索大盒子右边开始 -->
    <div class="s_right">
        <div class="pic">

        </div>
    </div>
    <!-- 搜索大盒子右边结束 -->
</div>
<!-- 搜索区域大盒子结束 -->
<!-- 轮换版区域下方盒子 -->
<div class="news_list">
    <div class="article_list">
        <div class="place">
            <strong>当前位置:</strong>
            <a href="http://localhost/source/dede">主页</a>
            >
            <a href="/source/dede/a/article/">article</a>
            >
        </div>
        <div class="list">
        <pagelist row="10">
            <li><span>[{$field.time}]</span><a href="{$field.url}" target="_blank">[{$field.catname}] {$field.title}</a></li>
        </pagelist>
        </div>
        <div class="page">
            <pageshow/>
        </div>
    </div>
    <div class="article_right">
        <div class="left">
            <div class="listbox">
                <div class="title">
                    <a class="left_box">热门文章</a>
                </div>
                <div class="txt">
                    <ul>
                        <arclist row="10" flag="1" titlelen="15">
                            <li><a href="{$field.url}"> {$field.title} [{$field.time}]</a></li>
                        </arclist>
                    </ul>
                </div>
            </div>
        </div>

        <div class="left">
            <div class="listbox">
                <div class="title">
                    <a class="left_box">推荐文章</a>
                </div>
                <div class="txt">
                    <ul>
                        <arclist  row="10" flag="3" titlelen="15">
                            <li><a href="{$field.url}"> {$field.title} [{$field.time}]</a></li>
                        </arclist>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 页脚开始 -->
<div class="footer">
    <!-- 温馨提示开始 -->
    <div class="rem">
        Copyright @ 2011-2015 www.hdphp.com All Right Reserved 本网站部分内容只转载原作的部分内容，若有异议，请与本站负责人联系，我们将予以改正！
    </div>
</div>
<!-- 页脚结束 -->
</body>
</html>