<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>{$field.title}</title>
    <jquery/>
    <hdui/>
    <link type="text/css" rel="stylesheet" href="{$hd.config.tpl_style}/css/news.css"/>
</head>
<body>
<div class="header">
    <div class="logo">后盾网 人人做后盾</div>
    <ul class="menu">
        <li>
            <a href="">首页</a>
        </li>
        <li>
            <a href="">前端开发</a>
            <ul class="sub_menu">
                <li>
                    <a href="#">DIV&CSS</a>
                </li>
                <li>
                    <a href="#">JavaScript</a>
                </li>
                <li>
                    <a href="#">Jquery</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<!--正文-->
<div class="central">
    <div class="content">
        <div class="main">
            <h1 class="title">
                {$field.title}
            </h1>
        </div>
    </div>
    <div class="sidebar">
        <div>
            <h3 class="title">最新文章</h3>
            <ul class="article">
                <li>
                    <a href="#">
                        <img src="#"/>
                        携程(上海)框架研发部招开发工程师(偏前端)
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--正文-->
</body>
</html>