.path {
    color: #555555;
    font-size: 12px;
    background: none repeat scroll 0 0 #F2F9FD;
    border-bottom: 2px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-top: 5px solid #FFFFFF;
    line-height: 25px;
    padding-left: 10px;
    border-bottom: 1px solid #B5CFD9;
    clear: both;
    height: 32px;
    margin-bottom: 6px;
}

.message {
    font-size: 12px;
    line-height: 160%;
    font-weight: normal;
    padding-bottom: 5px;
    margin-bottom: 6px;
    border-bottom: 1px dotted #DEEFFB;
    text-indent: 10px;
}

div.tpl_list {

    padding: 5px 5px 3px 0;
}

h2 {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
    background: #0088CC;
    color: #fff;
    text-indent: 10px;
}

div.tpl_list ul {
    height: auto;
    overflow: hidden;

}

div.tpl_list ul li {
    width: 33%;
    float: left;
    font-size: 12px;
}

div.tpl_list ul li div.pic {
    width: 150px;
    float: left;
    text-align: left;
    margin-right: 10px;
}

div.tpl_list ul li div.pic p.thumb {
    margin-bottom: 5px;
    height: 140px;
    border: solid 1px #dcdcdc;
    overflow: hidden;
}

div.tpl_list ul li div.pic p.thumb img {
    height: 140px;
    width: 150px;
}

div.tpl_list ul li div.pic p.tpltitle {
    font-size: 12px;
    color: #ccc;
    line-height: 20px;
    color:#aaa;
}

div.tpl_list ul li div.pic p.info{
    display: inline-block;
    font-weight: normal;
    color:#ccc;
}