table.table {
    border: solid 0px #ccc;
}

table.table th {
    width: 80px;
    border: none;
    padding: 0px;
    border-bottom: solid 1px #ececec;
    font-weight: normal;
    color: #333;
}

table.table td {
    border: none;
    border-bottom: solid 1px #ececec;
}

table.table td table td {
    border: none;
    padding: 0px;
}

span.thumb {
    position: relative;
    display: inline-block;
}

/**缩略图上传按钮**/
span.thumb input.upload_thumb {
    width: 55px;
    border: none;
    padding:0px;
}