div.node div.control {
    border: solid 1px #ddd;
    height: auto;
    overflow: hidden;
    margin-bottom: 10px;
    padding: 10px;
}

div.node div.control h3{
    font-size: 14px;
    color:#0088CC;
}
div.node div.control a{
    font-size:12px;
    color:#333333;
}
div.node ul.method {
    border-top: solid 1px #ececec;
}

div.node ul.method li {
    float: left;
    padding: 5px 10px 10px 0px;
    font-size: 12px;
}