@import "../../../../../static/css/common.css";

body {
    background: #fff;
}

div.tpl-list ul li {
    float: left;
    margin-right: 50px;
    background: #fff;
    height: auto;
    overflow: hidden;
    background: #efefef;
    border: solid 5px #dcdcdc;
    padding: 3px;
    cursor: pointer;
    position: relative;
}

div.tpl-list ul li.active,div.tpl-list ul li.current {
    border: solid 5px #09AEEF;
}

div.tpl-list ul li img {
    width: 260px;
    height: 260px;
}

div.tpl-list ul li div.style_cur {
    font-size: 35px;
    color: #666;
    border-bottom: 5px solid #DCDCDC;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    text-align: center;
    background: #fcfcfc;
    height: 50px;
    line-height: 45px;
}

div.tpl-list ul li h4 {
    font-size: 18px;
    padding-left: 10px;
    color: #333333;
    margin-bottom: 5px;
}

div.tpl-list ul li h4 strong {
    font-size: 12px;
    color: #03565E;
    font-weight: normal;
}

div.tpl-list ul li p {
    font-size: 12px;
    padding-left: 10px;
    margin: 0px;
}

div.tpl-list ul li div.link {
    padding-left: 10px;
    margin-top: 6px;
    padding-top: 5px;
}

div.tpl-list ul li div.link a {
    font-size: 16px;
    padding: 2px 8px;
    line-height: 25px;
}