<!--footer - copyright-->
<div class="copyright">
    <div class="introduce">
        <div class="info">
            <dl>
                <dt>houdunwang</dt>
                <dd>
                    <a href="http://bbs.houdunwang.com">后盾论坛</a>
                </dd>
                <dd>
                    <a href="http://www.houdunwang.com">后盾教育</a>
                </dd>
            </dl>
            <dl>
                <dt>who's houdunwang</dt>
                <dd>
                    <a href="__WEB__?a=Index&c=Index&m=article&aid=77&mid=1&cid=33">关于我们</a>
                </dd>
                <dd>
                    <a href="http://www.hdphp.com">HDPHP开源框架</a>
                </dd>
                <dd>
                    <a href="http://www.hdphp.com">HDCMS内容管理系统</a>
                </dd>
            </dl>
            <dl>
                <dt>OUR service</dt>
                <dd>
                    <a href="http://www.houdunwang.com">教育培训</a>
                </dd>

                <dd>
                    <a href="http://bbs.houdunwang.com">公益培训</a>
                </dd>
                <dd>
                    <a href="http://study.houdunwang.com">IT自学平台</a>
                </dd>
            </dl>
        </div>
    </div>
    <div class="copy_contact">
        <div class="info">
            <div class="logo"></div>
            <div class="icp">
                版权所有：©2008-2013 <a href="http://www.houdunwang.com">北京后盾网计算机培训有限公司</a> {$hd.config.icp} <br/>
                All rights reserved, houdunwang.com services for Beijing 2008-2013
            </div>
        </div>
    </div>
</div>
<!--footer - copyright-->