<div class="links">
    <a href="__ROOT__">首页</a><span></span>
    <a href="__ROOT__?a=index&c=index&m=category&cid=45&mid=6">实训作品</a><span></span>
    <a href="__ROOT__?a=Index&c=Index&m=article&aid=78&mid=1&cid=33">就业达人</a><span></span>
    <a href="__ROOT__?a=index&c=index&m=category&cid=73&mid=20" style="color:yellow">黄金课程</a><span></span>
    <a href="__ROOT__?a=Index&c=Index&m=article&aid=77&mid=1&cid=33">关于我们</a><span></span>
    <a href="__ROOT__?a=Index&c=Index&m=article&aid=79&mid=1&cid=33">后盾师资</a><span></span>
    <a href="__ROOT__?a=index&c=index&m=category&cid=37&mid=1">名师讲堂</a><span></span>
    <a href="__ROOT__?a=index&c=index&m=category&cid=72&mid=19">我在后盾</a><span></span>
    <a href="__ROOT__?a=index&c=index&m=category&cid=62&mid=10">盾友见证</a><span></span>
    <a href="http://bbs.houdunwang.com" target="_blank">论坛</a>
</div>