<div class="links">
    <a href="__ROOT__">首页</a><span></span>
    <a href="__ROOT__?a=index&c=index&m=category&cid=45&mid=6">实训作品</a><span></span>
    <a href="__ROOT__?a=Index&c=Index&m=article&aid=3&mid=1&cid=33">就业达人</a><span></span>
    <a href="__ROOT__?a=Index&c=Index&m=article&aid=1&mid=1&cid=33">关于我们</a><span></span>
    <a href="__ROOT__?a=Index&c=Index&m=article&aid=2&mid=1&cid=33">后盾师资</a><span></span>
    <a href="__ROOT__?a=index&c=index&m=category&cid=37&mid=1">名师讲堂</a><span></span>
    <a href="http://bbs.houdunwang.com">学习社区</a><span></span>
    <a href="__ROOT__?a=index&c=index&m=category&cid=63&mid=11">我在后盾</a><span></span>
    <a href="__ROOT__?a=index&c=index&m=category&cid=46&mid=7">开学典礼</a><span></span>
    <a href="__ROOT__?a=Member" target="_blank">学员登录</a>
</div>