<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{$field.title}-{$hd.config.webname}</title>
    <css file="__TPL__/static/css/project.css"/>
    <css file="__TPL__/static/css/class_table.css"/>
</head>
<body>
<div id="top_line">
    顶部线
</div>
<div id="top">
    <a class="logo" href="__ROOT__" alt="进入首页"> 后盾网首页 </a>

    <div class="top_right">
        <div class="tel">
            <span class="msg">咨询电话:</span><span class="number"> 010-6482 5057 </span>
        </div>
        <div class="weibo">
            <a class="sina" href="http://weibo.com/houdunwangxj"> 新浪微博 </a><a class="qq"
                                                                              href="http://weibo.com/houdunwangxj">
            腾讯微博 </a>
        </div>
    </div>
</div>
<!--导航-->
<div id="menu">
    <load file="__TPL__/block/top_links.html"/>
</div>
<!--导航-->
<!---左侧块--->
<div id="project_body" style="margin-top:20px;">
    <div class="project_left" style="border:none;">
        <div class="work" style="height:auto;overflow: hidden;">

            <h3 style="font-size:35px;">2013课程再升级！全程实战，杜绝只讲理论</h3>

            <p>
                后盾网课程体系一直以实战为基础，不做只讲理论的培训机构，是后盾网不变的宗旨。事实上在后盾网培训完前端就可以找到4000元以上的工作，大部分培训机构学完PHP都无法就业，在后盾网是不可能这就是为什么后盾网培训在短短2年就做到PHP行业前3。
            </p>
            <h4>
                以实例贯穿始终，培训能干活的PHP工程师
            </h4>
            <ul class="class_table">
                <arclist cid="">
                    <li>
                        <div class="title">
                            <h5>
                                <a href="{$hd_field.url}" target="_blank">{$hd_field.title}</a>
                            </h5>
                            <h6>
                                <a href="{$hd_field.url}" target="_blank">{$hd_field.advert}</a></h6>
                        </div>
                        <p>
                            <a href="{$hd_field.url}" target="_blank"> {$hd_field.info}</a>
                        </p>
                        <!--<a href="{$hd_field.url}" class="link" target="_blank">查看详细课程</a>-->
                    </li>
                </arclist>
            </ul>
        </div>
    </div>
    <!--右侧-->
    <div class="project_right">
        <!--开班信息-->
        <div class="course_info course_info_red r w290">
            <dl>
                <dt>
                    <span>开班信息</span>
                </dt>
                <dd>
                    <load file="__TPL__/block/lesson_list.html"/>
                </dd>
            </dl>
            <div class="butterfly"></div>
        </div>
        <!--开班信息-->
        <div class="tab_news r">
            <div class="tab_menu">
                <h3>后盾网最新视频</h3>
            </div>
            <!--最新PHP视频-->
            <div class="tab1 tab_content w260">
                <ul>
                    <arclist cid="40" row="20">

                        <li>
                            <span class="id">{$hd_field.arclist_id}</span>
                    <span class="title">
                        <a href="{$hd_field.url}">{$hd_field.title|mb_substr:0,16,'utf-8'}</a>
                    </span>
                            <span class="clock">{$hd_field.updatetime|date:"Y-m-d",@@}</span>
                        </li>
                    </arclist>
                </ul>
            </div>
            <!--最新PHP视频-->
        </div>
    </div>
    <!--文章TABS-->
    <!---Tab列表-->

</div>
<!---右侧块--->

<!--学员就业企业-->
<div class="enterprise">
    <h3>学员就业企业</h3>
</div>
<!--学员就业企业-->
<!--声明--->
<div class="project_solemn">
    学员项目声明
</div>
<!--声明--->
<load file="__TPL__/block/footer.html"/>
</body>
</html>
