div.tpl_list {

}

div.tpl_list li {
    width: 200px;
    float: left;
    border: solid 2px #eee;
    padding: 5px;
    margin-right: 15px;
    font-size: 12px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    height: 280px;
    overflow: hidden;
    position: relative;
}

div.tpl_list li img {
    border: solid 1px #0088CC;
    margin-bottom: 10px;
    width: 200px;
    height: 150px;
}

div.tpl_list li span {
    display: inline-block;
    width: 60px;
}

div.tpl_list li table {
    width: 98%;
}

div.tpl_list li table td {
    padding: 3px;
}

div.tpl_list li div.shade {
    background: #fff;
    width: 210px;
    height: 290px;
    position: absolute;
    top: 0px;left:0px;
}