div.header {
    height: 60px;
    background: #313131;
    overflow: hidden;
}

div.header div.logo {
    background: url("../image/logo.png") no-repeat;
    width: 217px;
    height: 60px;
    text-indent: -9999px;
}

div.header ul.menu {
    position: absolute;
    left: 230px;
    top: 0px;
}

div.header ul.menu li {
    float: left;
    margin-top: 20px;
}

div.header ul.menu li a {
    font-size: 14px;
    padding: 5px 15px;
    display: block;
    color: #dcdcdc;
    border-radius: 6px;
}

div.header ul.menu li a:hover {
    background: #000;

}

div.central {
    clear: both;
    height: auto;
    overflow: hidden;
}